<!doctype html>
<html lang=de>
	<head>
		<title> OSM-VBB-Checker |{% block title %} Haltestellen in {{ city }} {% endblock %} </title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="/static/js/bootstrap.js"></script>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
		<![endif]-->

		<script src="//cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
		<script src="/static/js/main.js"></script>
		{% block head %}
		<style>
			* {
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-o-box-sizing: border-box;
			}
			.match{
				background-color:rgba(57, 216, 57, 0.59);
			}
			.nomatch{
				background-color:rgba(241, 58, 58, 0.59);
			}
			label{
				cursor:pointer;
			}
			#map_picker{
				width: 530px;
				height: 300px;
			}
			.container{
				width: 100%;
				padding-left: 50px;
				padding-right: 50px;
			}
		</style>
		<script>
			$(document).ready(function(){
				initmap();
				// We need to force leaflet into redrawing the map in order to
				// show all tiles
				$("#own_area_modal").on('shown', function()
				{
					L.Util.requestAnimFrame(map.invalidateSize,map,!1,map._container);
				});
				$(".checkbox input").click(function(){
					hiderows($(this));
				});
				count();
			})
		</script>
		{% endblock %}
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">Berliner &amp; Brandenburger OSM-Haltestellen Validator</a>
				<ul class="nav">
					<li class="active"><a href="/">Start</a>
					<li><a href="#" data-target="#own_area_modal" id="own_area" data-toggle="modal">Eigener Bereich</a>
					<li><a href="/map_of_the_bad">Karte der Fehlenden Stationen</a>
				</ul>
				<form class="navbar-search pull-right" action="javascript:search()">
					<input class="search-query" id="search" type="search" placeholder="Haltestellen suchen..." />
				</form>
			</div>
		</div>
		{% block content %}

		<div class="container">
			<div class=row-fluid>
				<div class=span12>
					<p> Prüft auf Basis der Haltestellendaten von
					<a href="http://datenfragen.de/openvbb/GTFS_VBB_Okt2012/stops.txt">
						http://datenfragen.de/openvbb/GTFS_VBB_Okt2012/stops.txt
					</a>, ob diese in OSM sind oder nicht. Sollten sie es nicht sein,
					kann das entweder daran liegen, dass dieses Tool sie schlicht nicht erkennt,
					oder aber daran, dass sie wirklich nicht in OSM sind. Das sollten wir ändern!
					</p>
					<p> 
					Wenn ihr Fehler im Programm oder Falscheinstufungen findet
					dann schreibt mir an <a href="mailto:knut@k-nut.eu">knut@k-nut.eu</a>.
					</p>
					<p> Viel Spaß :) </p>
				</div>
			</div>
			<div class=row-fluid>
				<div class=span6>
					{% if pages %}
					<h2>Statistik</h2>
					Insgesamt: {{ pages  }}
					In OSM: {{ matches_count }}
					Nicht in OSM: {{ pages - matches_count }}
					{% endif %}
				</div>
				<div class=span6>
					<h2> Landkreis wechseln </h2>
					<select id="landkreis-picker" name="landkreis" onchange="change_landkreis();">
						{% for landkreis in landkreise %}
						<option {% if landkreis==city %} selected {% endif %} value="{{ landkreis }}">{{ landkreis }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class=row-fluid>
				<div class=span12>
					<h2> Anzeigekriterien</h2>
					<label class="checkbox pull-left">
						<input type="checkbox" name="match" checked>Zeige Stationen, die in OSM sind
					</label>
					<label class="checkbox pull-left">
						<input type="checkbox" name="nomatch" checked>Zeige Stationen, die nicht in OSM sind
					</label>
				</div>
			</div>
			{% if pages %}
			<div class="pagination pagination-centered">
				<ul>
					<li><a href="/city/{{ city }}/page/{{ this_page-1 }}">Zurück</a></li>
					{% if this_page-5 > 0 -%}
					<li><a href="/city/{{city}}/page/1">1</a></li>
					<li class="disabled"><a href="#">...</a></li>
					{%- endif %}
					{% for page_number in range(1, (pages/50)|int) -%}
					{% if page_number == this_page -%}
					<li class="active"><a href="/city/{{ city }}/{{ page_number }}">{{ page_number }}</a></li>
					{% else -%}
					{% if this_page - page_number < 5 and this_page - page_number > -5 %} 
					<li><a href="/city/{{city}}/page/{{ page_number }}">{{ page_number }}</a></li>
					{% endif %}
					{%- endif %}
					{%- endfor %}
					{% if this_page+5 < pages -%}
					<li class="disabled"><a href="#">...</a></li>
					<li><a href="/city/{{city}}/page/{{ (pages/50)|int }}">{{ (pages/50)|int }}</a></li>
					{%- endif %}
					<li><a href="/city/{{city}}/page/{{ this_page+1 }}">Vor</a></li>
				</ul>
			</div>
			{% endif %}
			<p style="text-align: center"> Insgesamt <span id="total"> 0 </span> Haltestellen. Davon <span id="nomatch_total"> 0 </span> nicht gefunden.

			<table class=table>
				<tr>
					<th> Name(VBB) </th>
					<th> VBB_id </th>
					<th> Treffer in OSM </th>
					<th> Lat (VBB) </th>
					<th> Lon (VBB) </th>
					<th> Zuletz geprueft </th>
					<th> Auf OSM Karte </th>
					<th> Nochmal prüfen </th>
				</tr>
				{% for stop in stops %}
				{% if stop.matches > 0 %}
				<tr class="match">
					{% else %}
					<tr class="nomatch">
						{% endif %}
						<th> {{ stop.name }}</th>
						<th> {{ stop.id }}</th>
						<th> {{ stop.matches }}</th>
						<th> {{ stop.lat }}</th>
						<th> {{ stop.lon }}</th>
						<th> {{ stop.last_run }}</th>
						<th> <a href="http://www.openstreetmap.org/?mlat={{ stop.lat }}&amp;mlon={{ stop.lon }}&amp;zoom=17&amp;layers=T" target="blank">Position laut VBB</a></th>
						<th> <a href="/recheck/{{ stop.id }}">Nochmal prüfen?</a></th>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div id="own_area_modal" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Eigenen Bereich festlegen</h3>
			</div>
			<div class="modal-body">
				<div id="map_picker"></div>
			</div>

			<div class="modal-footer">
				<a href='javascript:own_area("problemsonly");' class="btn btn-danger">Zeige nur fehlende </a>
				<a href='javascript:own_area("matchesonly");' class="btn btn-success">Zeige nur vorhandene </a>
				<a href='javascript:own_area("all");' class="btn btn-primary" id=own_area_submit>Zeige alle Stationen</a>
			</div>
		</div>
		{% endblock %}
		<a href="https://github.com/k-nut/osm-vbb-checker"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
		<!-- Piwik -->
		<script type="text/javascript">
			var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.k-nut.eu/" : "http://piwik.k-nut.eu/");
			document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
				try {
					var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
					piwikTracker.trackPageView();
					piwikTracker.enableLinkTracking();
				}
catch( err ) {}
</script>
<noscript>
	<p><img src="http://piwik.k-nut.eu/piwik.php?idsite=4" style="border:0" alt="" /></p>
</noscript>
<!-- End Piwik Tracking Code -->
																</body>
															</html>

