{% extends "index.html" %}
{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
<![endif]-->

<script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
<script>
function initmap() {
        // set up the map
        map = new L.Map('map');

        // create the tile layer with correct attribution
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data Â© OpenStreetMap contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});		

        // start the map in South-East England
        map.setView(new L.LatLng(52.52, 13.41),13);
        map.addLayer(osm);
}

function get_markers() {
	$.getJSON("/nomatch_all", function(data) {
		$.each(data.stops, function(){
			new_marker(this.lat, this.lon, this.name);
		});
		console.log(data);
        });
}

function new_marker(lat, lon, name){
	var this_marker = L.marker([lat, lon]);
	this_marker.bindPopup(name);
	this_marker.addTo(map);
}

$(document).ready(function(){
	initmap();
	get_markers();
});
</script>
<style>
#map{
	width: 100%;
	height: 500px;
}
</style>
{% endblock %}
{% block content %}

<div id="map"> Hallo </div>

{% endblock %}
